In [12]:
import scipy.spatial as ss   #早いのでscipyを採用
import pandas as pd


df_station = pd.read_csv('/Users/shibuya/GRI/data/processed/station_data.csv') 
df_station.columns = ['pref','station','line','lat','long','passenger_2017','passenger_2018','passenger_2019']
df_station.head(2)

,pref,station,line,lat,long,passenger_2017,passenger_2018,passenger_2019
0,埼玉県,大宮,複数ライン,35.906256,139.623625,689999,702577,700854
1,神奈川県,いずみ中央,相鉄いずみ野線,35.415500,139.487104,16016,16195,16257

In [11]:
#kdTreeの作成
station_lat_long = [None] * len(df_station)
for i, lat_long in enumerate(zip(df_station['lat'].to_numpy(), df_station['long'].to_numpy() )):
    station_lat_long[i] = lat_long

tree_station = ss.KDTree(station_lat_long, leafsize=10)

In [20]:
#使い方  最近傍探索
v = (36.90625, 139.6232) 
distance_, station_idx = tree_station.query(v)
station_ = df_station.iloc[station_idx]

print(distance_, station_idx)
station_

0.7005528484632724 908

pref                  埼玉県
station                柳生
line                東武日光線
lat               36.2066
long               139.66
passenger_2017       1471
passenger_2018       1392
passenger_2019       1196
Name: 908, dtype: object

In [21]:
#使い方  最近傍探索で近傍複数の駅を探索
distance_, station_idx = tree_station.query(v,3)
station_ = df_station.iloc[station_idx]

print(distance_, station_idx)
station_

[0.70055285 0.71636293 0.73633936] [ 908  705 1359]

,pref,station,line,lat,long,passenger_2017,passenger_2018,passenger_2019
908,埼玉県,柳生,東武日光線,36.206641,139.659553,1471,1392,1196
705,埼玉県,新古河,東武日光線,36.192726,139.686913,1794,1725,1631
1359,埼玉県,西羽生,秩父鉄道,36.176558,139.524482,342,323,308